<p style="color: green"><%= notice %></p>

<div id="requests" class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 100%;">
  <% @requests.each do |request| %>
    <% if session[:account_id] == request.user_id || session[:account_id] == Game.find(request.game_id).owner_id %>
      <div class="list-group list-group-flush border-bottom scrollarea">

        <a href="/requests/<%=request.id%>" class="list-group-item list-group-item-action py-3 lh-sm">
          <div class="row align-items-center">
            <div class="col">
              <div class="d-flex attr_writer :attr_names-100 align-items-center justify-content-between">
                <div id="<%= dom_id request %>">
                  <% if session[:account_id] == Game.find(request.game_id).owner_id %>
                      <strong class="mb-1"><%= Account.find(request.user_id).full_name %></strong>
                  <% end %>
                </div>
              </div>
              <div class="col-10 mb-1 small pt-3 justify-content-between">
                <div class="row">
                  <div class="col">
                    <p>rent duration(week/s): <%= request.rent_duration %> </p>
                  </div>
                  <div class="col-md-auto">
                    <% if request.status == "Pending" %>
                      <p class="text-warning"><%= request.status %></p>
                    <% elsif request.status == "rejected" %>
                      <p class="text-danger"><%= request.status %></p>
                    <% else %>
                      <p class="text-success"><%= request.status %></p>
                    <% end %>
                   </div>
                </div>
              </div>
            </div>
          </div>
        </a>

        </div>

        <% end %>
  <% end %>
  </div>
