<h1><%= Account.find(Request.find(params[:id]).user_id).full_name %> Requests to Rent <%= Game.find(Request.find(params[:id]).game_id).name %></h1>

<%= render "form", request: @request %>

<div>
  #<a href="/accept"> <button> accept </button> </a>
  <%= button_to "accept", @request, method: :accept %>
</div>    

<br>

<div>
  <%= link_to "Show this request", @request %> |
  <%= link_to "Back", "/games/#{@request.game_id}"%>
</div>
