<%= render "layouts/header"%>

<div class="container">
  <p style="color: green"><%= notice %></p>

  <div class="row">
    <div class="col">
      <div class="card w-100">
        <small class="card-header text-muted"><%= @request.created_at %></small>
        <div class="card-body">
          <% if Request.find(params[:id]).user_id != session[:account_id] %>
            <h5><%= Account.find(Request.find(params[:id]).user_id).full_name %> requests to rent <%= Game.find(Request.find(params[:id]).game_id).name %></h5>
          <% else %>
            <h5 class="mb-3">You requested to rent <%= Game.find(Request.find(params[:id]).game_id).name %></h5>
          <% end %>
          <%= render @request %>
          <% if Request.find(params[:id]).user_id == session[:account_id] && Request.find(params[:id]).status != "accepted" %>
            <%= button_to "Cancel Request", @request, method: :delete, class: "btn btn-danger"%>
          <% end %>
          <% if Request.find(params[:id]).user_id != session[:account_id] && Request.find(params[:id]).status != "accepted"  %>
              <a href="/accept" class="btn btn-success">  Accept  </a>  <a href="/reject" class="btn btn-danger"> Reject </a>
          <% end %>
        </div>
      </div>
      <br>
      <%= link_to "Back", "/games/#{@request.game_id}", class: "btn btn-secondary md-auto" %>
    </div>
    <% if Game.find(Request.find(params[:id]).game_id).owner_id != session[:account_id] && Request.find(params[:id]).status == "accepted" && Request.find(params[:id]).receipt_status != "Completed" %>
      <div class="col">
        <div class="card w-100">
          <p class="card-header text-muted"></p>
          <div class="card-body">
              <%= render 'receipts/new', new_receipts: Receipt.new(:request_id => @request.id, :name => @request.user_id, :game => @request.game_id, :rent_rate => Game.find(@request.game_id).rent_rate, :start_date => Date.current, :rent_duration => @request.rent_duration, :end_date => Date.current + (Game.find(@request.game_id).rent_rate * 7), :sub_total => (Game.find(@request.game_id).rent_rate * @request.rent_duration))%>
          </div>
        </div>
      </div>
    <% elsif Request.find(params[:id]).receipt_status == "Completed" %>
      <div class="col">
        <div class="card w-100">
          <p class="card-header text-muted"></p>
          <div class="card-body">
              <h2> Receipt </h2>
              <%= render "receipts/receipt", receipt: Receipt.find(@request.receipt_id) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


  <br>

</div>
