<div id="<%= dom_id game %>">
  <p>
    <strong>Owner:</strong>
    <%= Account.find(game.owner_id).username %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= game.description %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= game.release_date %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= game.genre %>
  </p>

  <p>
    <strong>Maturity Rating:</strong>
    <%= game.maturity_rating %>
  </p>

  <p>
    <strong>Platform:</strong>
    <%= game.platform %>
  </p>

  <p>
    <strong>Rent rate:</strong>
    <%= game.rent_rate %>
  </p>

  <p>
    <strong>Max rent duration:</strong>
    <%= game.max_rent_duration %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= game.status %>
  </p>

</div>
