<% if session[:account_id] == @game.owner_id || session[:is_admin] == 0 then %>
  <div class="row">
    <div class="col-md-auto">
      <%= link_to "Edit", edit_game_path(@game), class: "btn btn-primary"%>
    </div>
    <div class="col-md-auto">
    </div>
    <div class="col-md-auto">
    </div>
  </div>
  <%= link_to "Edit", edit_game_path(@game), class: "btn btn-primary"%>
  <%= button_to "Destroy this game", @game, method: :delete, class: "btn-primary"%>
<% end %>

<%= link_to "Back to games", games_path %>

<%= render 'requests/index', requests: @requests %>

<% if Game.find(params[:id]).owner_id != session[:account_id] %>
  <%= render 'requests/new', new_request: Request.new(:game_id => @game.id ) %>
<% end %>
