<%= form_with(model: receipt) do |form| %>
  <% if receipt.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
        <% receipt.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :name %>
  </div>

  <div>
    <%= form.hidden_field :request_id %>
  </div>


  <div class="row">
    <div class="col">
      <%= form.label :receiver_name, style: "display: block", class: "form-label" %>
      <%= form.text_field :receiver_name, class: "form-control w-100" %>
    </div>
    <div class="col">
      <%= form.label :mobile_number, style: "display: block", class: "form-label" %>
      <%= form.number_field :mobile_number, class: "form-control w-100"%>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <%= form.label :house_number, style: "display: block", class: "form-label"%>
      <%= form.text_field :house_number, class: "form-control w-100" %>
    </div>
    <div class="col">
      <%= form.label :barangay, style: "display: block", class: "form-label"%>
      <%= form.text_field :barangay, class: "form-control w-100"%>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <%= form.label :city, style: "display: block", class: "form-label" %>
      <%= form.text_field :city, class: "form-control w-100"%>
    </div>
    <div class="col">
      <%= form.label :province, style: "display: block" %>
      <%= form.text_field :province, class: "form-control w-100" %>
    </div>
  </div>

  <hr class="my-4">

  <div class="row">
    <div class="col">
      <div>
        Game: <%= Game.find(receipt[:game]).name %>
        <%= form.hidden_field :game %>
      </div>

      <div>
        Rent rate (per week): <%= receipt[:rent_rate] %>
        <%= form.hidden_field :rent_rate %>
      </div>

      <div>
        Rent duration: <%= receipt[:rent_duration] %>
        <%= form.hidden_field :rent_duration %> week
      </div>

      <div>
        Sub total: <%= receipt[:sub_total] %>
        <%= form.hidden_field :sub_total %>
      </div>

      <div>
        Start date: <%= receipt[:start_date] %>
        <%= form.hidden_field :start_date %>
      </div>

      <div>
        End date: <%= receipt[:end_date] %>
        <%= form.hidden_field :end_date %>
      </div>
    </div>
    <div class="col">
      <div>
        <%= form.label :payment_method, style: "display: block" %>
        <%= form.radio_button :payment_method, 'Gcash', :checked => true, class: "form-check-input"%> <p class="form-check-label" style="display:inline">Gcash</p>
      </div>

      <br>

      <div>
        <%= form.submit class: "btn btn-warning"%>
      </div>
    </div>
  </div>




<% end %>
