<%= form_with(model: receipt) do |form| %>
  <% if receipt.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
        <% receipt.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :name %>
  </div>

  <div>
    <%= form.hidden_field :request_id %>
  </div>

  <div>
  <%= form.label :receiver_name, style: "display: block" %>
  <%= form.text_field :receiver_name %>
</div>

  <div>
    <%= form.label :mobile_number, style: "display: block" %>
    <%= form.number_field :mobile_number %>
  </div>

  <div>
    <%= form.label :house_number, style: "display: block" %>
    <%= form.text_field :house_number %>
  </div>

  <div>
    <%= form.label :barangay, style: "display: block" %>
    <%= form.text_field :barangay %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :province, style: "display: block" %>
    <%= form.text_field :province %>
  </div>

  <div>
    Game: <%= Game.find(receipt[:game]).name %>
    <%= form.hidden_field :game %>
  </div>

  <div>
    Rent Rate(per week): <%= receipt[:rent_rate] %>
    <%= form.hidden_field :rent_rate %>
  </div>

  <div>
    Rent Duration(in week/s): <%= receipt[:rent_duration] %>
    <%= form.hidden_field :rent_duration %>
  </div>

  <div>
    Sub total: <%= receipt[:sub_total] %>
    <%= form.hidden_field :sub_total %>
  </div>

  <div>
    Start date: <%= receipt[:start_date] %>
    <%= form.hidden_field :start_date %>
  </div>

  <div>
    End date: <%= receipt[:end_date] %>
    <%= form.hidden_field :end_date %>
  </div>

  <div>
    <%= form.label :payment_method, style: "display: block" %>
    <%= form.radio_button :payment_method, 'Gcash', :checked => true%> Gcash
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
