<div id="<%= dom_id receipt %>">
  <p>
    <strong>Name:</strong>
    <%= receipt.name %>
  </p>

  <p>
    <strong>Receiver Name:</strong>
    <%= receipt.receiver_name %>
  </p>

  <p>
    <strong>Mobile number:</strong>
    <%= receipt.mobile_number %>
  </p>

  <p>
    <strong>House number:</strong>
    <%= receipt.house_number %>
  </p>

  <p>
    <strong>Barangay:</strong>
    <%= receipt.barangay %>
  </p>

  <p>
    <strong>City:</strong>
    <%= receipt.city %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= receipt.province %>
  </p>

  <p>
    <strong>Game:</strong>
    <%= receipt.game %>
  </p>

  <p>
    <strong>Rent rate(per week):</strong>
    <%= receipt.rent_rate %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= receipt.start_date %>
  </p>

  <p>
    <strong>Rent duration(by week/s):</strong>
    <%= receipt.rent_duration %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= receipt.end_date %>
  </p>

  <p>
    <strong>Sub total:</strong>
    <%= receipt.sub_total %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= receipt.payment_method %>
  </p>

</div>
