

<div class="container">
  <p style="color: green"><%= notice %></p>
  <div class="card w-50">
    <div class="card-body">
      <%= render @receipt %>

      <div class="row">
        <div class="col-md-auto">
          <%= link_to "Edit", edit_receipt_path(@receipt), class: "btn btn-primary"%>
        </div>
        <div class="col-md-auto">
          <%= button_to "Delete", @receipt, method: :delete, class: "btn btn-danger"%>
        </div>
        <div class="col-md-auto">
          <a href="/link_and_return" class="btn btn-success"> Save </a>
        </div>

      </div>

      <div class="row mt-2">
        <div class="col">
          <%= link_to "Back", receipts_path, class:"btn btn-secondary"%>
          <a href="/requests/<%=@receipt.request_id%>"> <button> Back </button> </a>
        </div>
      </div>
    </div>
  </div>
</div>
