<div id="<%= dom_id account %>">

  <p>
    <strong>Username:</strong>
    <%= account.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= account.password_digest %>
  </p>


  <p>
    <strong>Full name:</strong>
    <%= account.full_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= account.email %>
  </p>

  <p>
    <strong>Mobile number:</strong>
    <%= account.mobile_number %>
  </p>

</div>
