<%= form_with(model: account) do |form| %>
  <% if account.errors.any? %>
    <div style="color: red">

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :user_type %>
  </div>

  <div class="field form-floating">
    <%= form.text_field :username, class: "form-control", id: "floatingUsername", style: "display: block" %>
    <%= form.label :username, style: "display: block", for: "floatingUsername"%>
  </div>

  <br/>

  <div class="field form-floating">
    <%= form.password_field :password, class: "form-control", id: "floatingPassword", style: "display: block"%>
    <%= form.label :password, style: "display: block", for: "floatingPassword" %>
  </div>

  <div class="field form-floating">
    <%= form.password_field :password_confirmation,  class: "form-control", id: "floatingPasswordConfirmation"%>
    <%= form.label :password_confirmation, style: "display: block", for: "floatingPasswordConfirmation" %>
  </div>

  <div class="field form-floating">
    <%= form.text_field :full_name, class: "form-control", id: "floatingFullname" %>
    <%= form.label :full_name, style: "display: block", for: "floatingFullname" %>
  </div>

  <br/>

  <div class="field form-floating">
    <%= form.text_field :email, class: "form-control", id: "floatingEmail" %>
    <%= form.label :email, style: "display: block", for: "floatingEmail"  %>
  </div>

  <br>

  <div class="field form-floating">
    <%= form.text_field :mobile_number, class: "form-control", id: "floatingNumber"%>
    <%= form.label :mobile_number, style: "display: block", for: "floatingNumber" %>
  </div>


  <div class="modal-footer">
    <%= form.submit class: "btn btn-success btn-space"%>
  </div>

<% end %>
