
<%= stylesheet_link_tag "login"%>


<div class="text-center form-signin w-100 m-auto">
	<% if notice %>
		<div class="alert alert-warning alert-dismissible fade show text-left" role="alert">
			<%= notice %>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	<% end %>

	<% if alert %>
		<div class="alert alert-warning alert-dismissible fade show text-left" role="alert">
			<%= alert %>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	<% end %>

	<%= form_with url: "/login" do |f| %>
  <!-- form_for(resource, as: resource_name, url: session_path(resource_name), redirect_to: games_path) do |f|  -->

		<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
		 width="97.750000pt" height="75.000000pt" viewBox="0 0 782.000000 600.000000"
		 preserveAspectRatio="xMidYMid meet">

		<g transform="translate(0.000000,600.000000) scale(0.100000,-0.100000)"
		fill="#1c1c1c" stroke="none">
		<path d="M3813 5985 c-183 -40 -324 -190 -355 -379 -31 -187 79 -393 255 -479
		l57 -28 0 -422 0 -422 -50 -18 c-67 -24 -136 -90 -145 -139 -10 -54 23 -118
		83 -158 69 -45 142 -65 247 -65 105 0 178 20 247 65 60 40 93 104 83 158 -9
		49 -78 115 -145 139 l-50 18 0 420 0 421 62 29 c180 86 291 291 260 481 -31
		190 -173 340 -359 379 -82 18 -109 18 -190 0z"/>
		<path d="M3475 4870 c-56 -23 -1106 -635 -1142 -665 -55 -46 -96 -107 -119
		-175 -17 -51 -19 -111 -22 -865 -2 -581 0 -827 8 -870 14 -72 59 -161 103
		-203 33 -31 227 -147 832 -497 653 -377 631 -367 770 -367 56 0 119 5 141 12
		88 29 1401 787 1462 844 46 43 87 111 106 175 14 48 16 153 16 860 0 871 -2
		896 -54 985 -30 51 -106 124 -166 158 -25 14 -274 158 -555 319 -460 264 -515
		293 -563 297 -62 5 -84 -9 -114 -76 -24 -53 -13 -97 35 -139 18 -15 210 -129
		426 -253 262 -150 400 -235 414 -254 46 -65 29 -171 -37 -221 -34 -26 -547
		-331 -841 -501 l-190 -109 -75 0 -75 0 -165 95 c-91 53 -324 190 -519 305
		-383 228 -398 240 -408 328 -6 48 10 88 49 124 12 12 201 124 418 248 217 124
		405 238 417 253 44 53 37 130 -18 181 -24 22 -94 28 -134 11z m-787 -1169
		c146 -75 1051 -614 1067 -636 19 -26 20 -44 23 -658 2 -460 -1 -639 -9 -659
		-16 -39 -72 -86 -112 -93 -19 -4 -54 -1 -78 5 -36 9 -922 508 -1062 597 -24
		15 -46 41 -58 66 -18 40 -19 75 -19 673 0 615 1 632 20 657 48 61 157 84 228
		48z m2608 0 c22 -10 50 -31 62 -46 l22 -28 0 -634 c0 -697 2 -679 -61 -725
		-74 -54 -1023 -591 -1070 -605 -62 -18 -108 -11 -150 24 -60 51 -59 35 -59
		700 1 651 2 669 51 703 12 8 258 153 547 323 483 282 530 307 572 307 25 0 63
		-9 86 -19z"/>
		<path d="M3002 3184 c-21 -14 -22 -22 -22 -140 0 -69 -3 -124 -7 -122 -5 2
		-52 26 -106 53 -94 48 -99 49 -125 35 -26 -15 -27 -19 -30 -108 -1 -50 2 -100
		7 -110 5 -10 66 -49 135 -86 l126 -68 0 -150 c0 -84 5 -158 10 -169 13 -23
		160 -99 193 -99 42 0 47 16 47 152 0 70 3 128 6 128 3 0 47 -22 98 -50 101
		-54 148 -63 166 -31 13 26 13 174 -1 204 -7 16 -54 47 -140 93 l-129 69 0 145
		c0 171 0 171 -99 230 -74 44 -95 48 -129 24z"/>
		<path d="M4695 3138 c-42 -23 -98 -85 -121 -133 -38 -81 -29 -146 23 -166 88
		-33 232 107 233 226 0 60 -22 85 -73 85 -23 0 -51 -6 -62 -12z"/>
		<path d="M4981 3002 c-53 -36 -105 -109 -120 -167 -32 -127 83 -167 187 -65
		83 80 114 200 63 241 -33 27 -81 24 -130 -9z"/>
		<path d="M4405 2671 c-108 -49 -186 -219 -129 -282 28 -31 102 -22 152 18 79
		63 127 172 103 230 -12 29 -47 53 -74 53 -7 0 -30 -9 -52 -19z"/>
		<path d="M4695 2542 c-69 -43 -134 -145 -135 -212 -1 -142 188 -96 261 64 25
		56 25 120 -1 146 -26 26 -85 26 -125 2z"/>
		<path d="M7668 777 c-14 -7 -65 -58 -113 -115 -71 -84 -90 -101 -100 -90 -6 7
		-45 53 -85 101 -40 48 -81 92 -91 97 -23 13 -95 13 -119 0 -27 -14 -44 -74
		-32 -109 6 -16 62 -90 126 -166 l116 -138 0 -143 c0 -86 5 -153 11 -168 24
		-52 121 -58 159 -9 18 23 20 41 20 172 l0 146 108 124 c132 152 142 167 142
		214 0 51 -13 73 -51 86 -40 14 -57 13 -91 -2z"/>
		<path d="M25 755 l-25 -24 0 -330 c0 -227 4 -338 11 -355 17 -36 70 -52 120
		-37 21 6 42 17 46 24 4 6 10 134 13 282 l5 270 105 3 c136 4 168 -2 183 -35
		10 -22 8 -28 -12 -44 -18 -15 -40 -19 -96 -19 -82 0 -119 -19 -130 -69 -10
		-45 13 -86 135 -236 125 -156 169 -191 226 -181 53 11 74 37 74 96 0 48 -2 52
		-71 125 -60 63 -68 75 -49 75 60 0 120 116 120 232 0 72 -16 113 -67 168 -67
		75 -86 80 -341 80 l-223 0 -24 -25z"/>
		<path d="M810 760 c-11 -11 -22 -30 -25 -42 -3 -13 -5 -168 -3 -345 3 -320 3
		-323 26 -345 22 -23 27 -23 285 -26 144 -2 277 0 295 3 50 9 72 37 72 89 0
		101 -14 106 -275 106 l-205 0 0 195 0 195 215 0 c216 0 216 0 240 25 34 33 36
		114 3 145 -21 19 -34 20 -315 20 -278 0 -294 -1 -313 -20z"/>
		<path d="M1605 768 c-45 -24 -45 -26 -45 -374 0 -315 1 -333 20 -357 35 -44
		145 -44 166 1 5 9 11 96 14 192 l5 175 153 -193 c95 -121 163 -196 179 -203
		35 -13 100 -2 124 22 18 18 19 39 19 358 0 395 3 381 -92 389 -50 4 -57 2 -76
		-23 -21 -26 -22 -38 -22 -207 l0 -180 -145 185 c-80 102 -157 195 -171 206
		-29 23 -95 28 -129 9z"/>
		<path d="M2372 757 c-17 -18 -22 -36 -22 -74 0 -44 4 -55 26 -72 23 -18 41
		-21 120 -21 l94 0 0 -266 c0 -156 4 -273 10 -284 13 -24 72 -43 110 -35 17 4
		40 16 50 28 19 20 20 37 20 289 l0 268 94 0 c106 0 139 16 151 70 8 38 -11 97
		-35 110 -11 6 -136 10 -308 10 l-289 0 -21 -23z"/>
		<path d="M3555 768 c-11 -6 -23 -16 -27 -22 -4 -6 -8 -167 -8 -358 l0 -348 27
		-17 c36 -24 116 -24 140 0 16 15 19 43 23 202 l5 184 153 -194 c131 -167 158
		-196 190 -205 28 -9 46 -8 77 2 67 22 67 22 61 393 l-6 330 -25 23 c-34 29
		-103 30 -136 3 -23 -19 -24 -25 -29 -202 l-5 -182 -148 190 c-82 105 -160 196
		-173 202 -32 14 -93 14 -119 -1z"/>
		<path d="M4334 766 c-16 -12 -20 -29 -23 -105 -4 -117 8 -141 74 -141 67 0 75
		14 75 129 0 82 -3 101 -18 114 -23 21 -81 22 -108 3z"/>
		<path d="M4911 761 c-11 -11 -23 -35 -26 -53 -3 -18 -5 -174 -3 -345 3 -310 3
		-313 26 -335 31 -32 113 -31 145 1 21 21 22 28 25 291 l3 270 122 0 c131 0
		167 -11 167 -50 0 -34 -38 -50 -118 -50 -64 0 -76 -3 -97 -25 -33 -33 -36
		-114 -4 -146 19 -19 30 -20 139 -17 113 3 120 4 161 33 24 17 57 50 74 74 26
		37 30 53 33 119 3 72 1 80 -30 132 -22 36 -49 64 -82 85 l-49 30 -233 3 c-222
		3 -234 2 -253 -17z"/>
		<path d="M5692 757 c-22 -23 -22 -28 -22 -364 0 -321 1 -342 19 -364 l19 -24
		275 -3 c317 -4 338 0 356 63 13 48 -5 105 -39 122 -18 9 -85 13 -232 13 l-208
		0 0 265 0 266 -25 24 c-34 35 -112 35 -143 2z"/>
		<path d="M6770 758 c-34 -32 -312 -602 -318 -653 -3 -34 0 -47 21 -71 l25 -29
		337 0 337 0 24 28 c15 18 24 41 24 61 0 44 -298 647 -331 670 -34 23 -90 20
		-119 -6z m128 -556 c-38 -2 -97 -2 -131 0 l-63 3 64 135 65 135 67 -135 68
		-135 -70 -3z"/>
		<path d="M1073 480 c-30 -12 -43 -41 -43 -94 0 -33 6 -52 20 -66 18 -18 33
		-20 170 -20 137 0 152 2 170 20 27 27 28 108 1 141 -18 23 -26 24 -158 26 -76
		1 -148 -2 -160 -7z"/>
		</g>
		</svg>
    <h1 class="h3 mb-3 fw-normal"></h1>
    <div class="field form-floating">
      <%= f.text_field :username, class: "form-control", id: "floatingInput", placeholder: "User Name"%>
      <%= f.label "username", placeholder: "username", for: "floatingInput"%>
    </div>


    <div class="field form-floating">
      <%= f.password_field :password, autocomplete: "current-password", id: "floatingPassword", placeholder: "Password", class: "form-control" %>
      <%= f.label :password, for: "floatingPassword" %>
    </div>

    <div class="actions">
      <%= f.submit "Log in", class: "w-100 btn btn-lg btn-primary" %>
    </div>
  <% end %>

	<br>

	<div class="modal fade" id="exampleModalCenteredScrollable" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="display: none;">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="exampleModalCenterTitle">Sign up</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <%= render "form", account: @account %>
	    	</div>
	  	</div>
		</div>
	</div>

	<button type="button" class="w-100 btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#exampleModalCenteredScrollable">
    Register
  </button>

	<p class="mt-5 mb-3 text-muted">©2022</p>

</div>
